{% load i18n static %}
<div
    class="inline-group selective-inline-group"
    id="{{ inline_admin_formset.formset.prefix }}-group"
    
    data-prefix="{{ inline_admin_formset.formset.prefix }}"
    data-is-orderable="{% if inline_admin_formset.opts.orderable_field %}true{% else %}false{% endif %}"
    data-auto-orderable-field="{% if inline_admin_formset.opts.auto_orderable_field %}{{ inline_admin_formset.opts.auto_orderable_field }}{% endif %}">

    <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>


    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    <div class="selective-inline-titles" id="{{ inline_admin_formset.formset.prefix }}-titles">
        <ul>
            {% for inline_admin_form in inline_admin_formset %}
                <li class="{% if forloop.last %}empty-title{% else %}selective-inline-item{% endif %} {% if inline_admin_form.form.errors %}error{% endif %}">
                    <div class="title-holder">
                        {% if inline_admin_form.original %}
                            {{ inline_admin_form.original }}
                        {% else %}
                            {{ inline_admin_formset.opts.verbose_name|title }}
                            #<span class="counter">{{ forloop.counter }}</span>
                        {% endif %}
                        {% if inline_admin_form.original and inline_admin_formset.formset.can_delete %}
                            <span class="delete">{{ inline_admin_form.deletion_field.field }}</span>
                            <a class="inline-deletelink mark-deleted">{% trans "Remove" %}</a>
                        {% elif not inline_admin_form.original %}
                            <a class="inline-deletelink remove-container">{% trans "Remove" %}</a>
                        {% endif %}

                        {% if inline_admin_formset.opts.orderable_field %}
                            <span class="selective-grab-holder">
                                <img src="{% static "admin/img/nav-bg-grabber.gif" %}" />
                            </span>
                        {% endif %}
                        {% if inline_admin_form.form.errors %}
                            <span class="error-symbol">
                                <img src="{% static "admin/img/icon_alert.gif" %}" />
                            </span>
                        {% endif %}
                        <div class="deleted-hover">
                            <span>
                                {% trans "Deleted" %} &nbsp;&nbsp;
                                <a href="#" class="restore-link">{% trans "Click to restore" %}</a>
                            </span>
                        </div>
                    </div>
                    <div class="inline-related" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
                        <div class="selinline-inner">
                            {% if inline_admin_form.show_url %}
                                <h3>
                                    <a href="{{ inline_admin_form.absolute_url }}">
                                        {% trans "View on site" %}
                                    </a>
                                </h3>
                            {% endif %}
                            {{ inline_admin_form.form.non_field_errors }}
                            {% for fieldset in inline_admin_form %}
                                {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                            {# django <= 1.5 #}
                            {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {{ inline_admin_form.fk_field.field }}
                            {# django >= 1.6 #}
                            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {{ inline_admin_form.fk_field.field }}
    
                            {{ inline_admin_form.form.show_orderable_field }}
                            {{ inline_admin_form.form.show_auto_orderable_field }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="add-row">
        <a href="#" id="{{ inline_admin_formset.formset.prefix }}-inline-add">
            {% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}
        </a>
    </div>
</div>
