.selective-inline-group { position: relative; padding-bottom: 20px; }

.selective-inline-group .add-row { border-top: 1px solid #ddd; position: absolute; bottom: 0; left: 0; right: 0; }

.selective-inline-titles {
    width: 300px;
    float: left;
    overflow-y: auto;
    height: 350px;
    border-right: 1px solid #eee;
}

.selective-inline-titles ul { list-style: none; margin: 0; padding: 0; }
.selective-inline-titles li.selective-inline-item {
    display: block;
    background: #f9f9f9;
    border: 1px solid #eee;
    margin: 5px;
    height: 23px;
    cursor: pointer;
}
.title-holder { position: relative; padding: 4px 4px 4px 15px; }

.selective-inline-titles ul li.empty-title { display: none; }
.selective-inline-titles ul li.selective-inline-item.active-title { background: #99c2ec}
.selective-inline-titles ul li.selective-inline-item.error {
    /*background: #ffc;*/
    border: 1px solid #faa5a2;
    color: #fa4c4a;
}

.selective-inline-item .inline-related {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    left: 301px;
    max-height: 350px;
    overflow-y: auto;
}
.selective-inline-item.active-title > .inline-related { display: block; }

.selective-inline-item .delete { display: none; }
.selective-inline-item.deleted .deleted-hover { display: block; }
.deleted-hover {
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    text-align: center;
    background: #dddddd;
    opacity: 0.8;
    width: 288px;
    height: 17px;
    padding: 4px 0;
    color: black;
}
.deleted-hover span { opacity: 1; }

.selective-inline-item .error-symbol {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 14px;
    top: -1px;
}
.selective-grab-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 22px;
    width: 10px;
    overflow: hidden;
    cursor: move;
}

.sortable-placeholder { height: 22px; border: 2px solid #eee; margin: 0 4px; }
.dragged-clone { margin-left: 4px; height: 22px; border: 2px solid #aaaaaa; width: 300px; }